/* Reset and base styles  */
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Kanit, Quicksand Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Links */

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

a, a:active {
  text-decoration: none;
  color: inherit;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html, body {
  background-color: #000000;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #777 #555;
}

html::-webkit-scrollbar {
	width: 0.6vw;
  background-color: #555;
}

html::-webkit-scrollbar-thumb {
	background-color: #777;
}

html::-webkit-scrollbar-track {
	background-color: #555;
}

@font-face {
  font-family: 'Candara';
  src: url('../public/fonts/candara-light.ttf');
}