.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
}

.text {
  color: #fff;
  font-family: 'Candara';
  font-size: 40px;
}

@media(max-width: 450px) {
  .text {
    font-size: 30px;
  }
}