.liked {
    width: 96vw;
    min-height: 100vh;
    font-family: 'Candara';
    text-transform: uppercase;
    font-weight: 300;
}

.container {
    margin: 30px 50px;

    @media (max-width: 850px) {
        margin: 30px 5px;
    }
}

.liked__title {
    font-size: 40px;

    @media (max-width: 550px) {
        padding-left: 30px;
    }
}

.liked__mainTopTitle {
    font-size: 35px;

    @media (max-width: 550px) {
        padding-left: 30px;
    }
}

.liked__main {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgb(255, 255, 255, 0.05);
    margin-top: 40px;
    border: 1px #fff solid;
    border-radius: 10px;
}

.liked__mainTop {
    border-bottom: 1px #fff solid;
}

.liked__mainContainer {
    padding: 20px 100px;

    @media (max-width: 850px) {
        padding: 20px 15px;
    }

    @media (max-width: 550px) {
        padding: 50px 15px;
        padding-left: 4px;
        padding-right: 4px;
    }
}

.liked__mainItemsInner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 30px;

    @media (max-width: 550px) {
        padding: 50px 15px;
    }

    @media (max-width: 550px) {
        row-gap: 35px;
        column-gap: 5px;
    }
}

.liked__mainItemsNotLiked {
    font-size: 20px;
    text-align: center;
    padding: 20px;
}