.left {
    width: 96vw;
    font-family: 'Candara';
    font-weight: 300;
    text-transform: uppercase;
}

.container {
    margin: 30px 60px;
}

.left__title {
    font-size: 45px;
}

.left__category {
    margin-top: 50px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgb(255,255,255, 0.05);
    border: 1px #fff solid;
    border-radius: 15px;
}

.left__categoryTitle {
    font-size: 40px;
}

.categoryContainer {
    padding: 25px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left__categoryItems {
    border-top: 1px #fff solid;
    position: relative;
}

.categoryItemsContainer {
    padding: 35px 110px;
    display: flex;
    justify-content: space-around;
}

.left__categoryItem {
    width: 220px;
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px #fff solid;
    border-radius: 10px;
    cursor: pointer;
}

.left__categoryItemName {
    font-size: 22px;
    padding: 10px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgb( 0, 0, 0, 0.4);
    border-radius: 10px 10px 0 0;
    border-bottom: 1px #fff solid;
}

.left__categoryItemFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgb( 0, 0, 0, 0.4);
    border-radius: 0 0 10px 10px;
    border-top: 1px #fff solid;
}

.left__categoryItemFooterRarity {
    padding: 1px 25px;
    border-radius: 8px;
    border: 1px #fff solid;
    font-size: 19px;
}

.left__categoryItemFooterCost {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    padding: 3px 8px;
    color: #bcd9ff;
    border: 1px #bcd9ff solid;
    border-radius: 8px;
    font-size: 14px;
}

.left__categoryItemsButtonRight, .left__categoryItemsButtonLeft {
    position: absolute;
    color: #fff;
    font-size: 20px;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 5px 10px;
    border: 1px #fff solid;
    border-radius: 10px;
    background-color: rgb( 41, 41, 41, 0.5);
    z-index: 1;
}

.left__categoryItemsButtonRight {
    right: 0;
}

.left__categoryItemsButtonLeft {
    left: 60px; 
}

.left__categoryItemsButtonRight:disabled, .left__categoryItemsButtonLeft:disabled {
    border: 1px rgb(41, 41, 41) solid;
    color: rgb(41, 41, 41);
}

@media (max-width: 1100px) {
    .container {
        margin: 30px;
    }

    .left__categoryItem {
        width: 150px;
        height: 150px;
    }

    .categoryItemsContainer {
        padding: 35px 90px;
    }

    .left__categoryItemName {
        font-size: 17px;
        padding: 5px 9px;
    }

    .left__categoryItemFooter {
        padding: 3px;
        border-radius: 0 0 10px 10px;
    }
    
    .left__categoryItemFooterRarity {
        padding: 2px 13px;
        border-radius: 8px;
        font-size: 16px;
    }
    
    .left__categoryItemFooterCost {
        column-gap: 5px;
        padding: 2px 5px;
    }
}

@media (max-width: 800px) {
    .container {
        margin: 30px 15px;
    }

    .left__categoryItemsButtonRight {
        right: -17px;
    }
    
    .left__categoryItemsButtonLeft {
        left: 35px; 
    }
}

@media (max-width: 700px) {

    .container {
        margin-left: 35px;
    }

    .categoryItemsContainer {
        padding: 35px 50px;
    }
}

@media (max-width: 550px) {
    .container {
        margin: 30px 10px;

    }

    .categoryItemsContainer {
        padding: 60px 0;
        padding-bottom: 80px;
    }

    .left__categoryItemsButtonRight {
        padding: 1px 5px;
        top: unset;
        bottom: -10px;
        right: 25%;
        border: none;
        background: transparent;
    }

    .left__categoryItemsButtonLeft {
        padding: 1px 5px;
        top: unset;
        bottom: -10px;
        left: 36%;
        border: none;
        background: transparent;
    }

    .left__categoryItemsButtonRight:disabled, .left__categoryItemsButtonLeft:disabled {
        border: none;
        color: grey
    }

    .left__categoryItem {
        width: 144px;
        height: 144px;
        margin-top: -15px;
    }

    .left {
        width: 90vw;
    }

    .left__categoryItemFooterRarity {
        padding: 2px 9px;
        font-size: 14px;
    }
    
    .left__categoryItemFooterCost {
        column-gap: 3px;
        padding: 3px 4px;
        font-size: 14px;
    }

    .left__categoryTitle {
        font-size: 29px;
    }
    
    .categoryContainer {
        padding: 25px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .left__title {
        font-size: 35px;
        text-align: center;
    } 

}